<div class="jumbotron w-100 py-1 bg-light">



  <div fxFlex.gt-sm="100" fxFlex.lt-sm="100" class="small mx-2">
    <div fxLayout="row" fxLayoutGap="10px" class="w-100">
      <div fxFlex="20">
        <mat-label>HTML5</mat-label>
      </div>
      <div fxFlex="80">
        <div class="html"></div>
      </div>
</div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Bootstrap</mat-label>
      </div>
      <div fxFlex="80">
        <div class="bootstrap "></div>
      </div>

    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>CSS3</mat-label>
      </div>
      <div fxFlex="80">
        <div class="css "></div>
      </div>

    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>PHP Laravel</mat-label>
      </div>
      <div fxFlex="80">
        <div class="laravel"></div>
      </div>

    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Angular JS</mat-label>
      </div>
      <div fxFlex="80">
        <div class="angular"></div>
      </div>

    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Angular Material</mat-label>
      </div>
      <div fxFlex="80">
        <div class="angular_material"></div>
      </div>

    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>MySql</mat-label>
      </div>
      <div fxFlex="80">
        <div class="mysql"></div>
      </div>

    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>MongoDB</mat-label>
      </div>
      <div fxFlex="80">
        <div class="mango_db"></div>
      </div>

    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Firebase</mat-label>
      </div>
      <div fxFlex="80">
        <div class="firebase"></div>
      </div>

    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Semantic UI</mat-label>
      </div>
      <div fxFlex="80">
        <div class="semantic_ui"></div>
      </div>

    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Materialize CSS</mat-label>
      </div>
      <div fxFlex="80">
        <div class="materialize_css"></div>
      </div>

    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Java</mat-label>
      </div>
      <div fxFlex="80">
        <div class="java"></div>
      </div>

    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>C#</mat-label>
      </div>
      <div fxFlex="80">
        <div class="c_sharp"></div>
      </div>

    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Python</mat-label>
      </div>
      <div fxFlex="80">
        <div class="python"></div>
      </div>

    </div>
    <hr>
  </div>

</div>
