<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="card">
      <div class="card-body">
        <img src="../../../assets/projects/portaldashboard.PNG" class="d-block w-100 h" alt="...">
      </div>
      <div class="card-footer">
             Admission Portal (Super Admin Dashboard)
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/admissionportal.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
               Admission Portal (Welcome Page)
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/reset.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
               Admission Portal (Reset Account Page)
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/bio.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
               Admission Portal (Applicant Details Page)
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/Capture.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
               Staff Directory  (Home  Page)
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/documen.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
              Document Tracking System (User  Dashboard)
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/trackingfile.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
              Document Tracking System (File Tracking Result)
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/fiaques.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
             Financial Aid System (Studentporverty Survey page )
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/fiaques.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
             Financial Aid System (Student porverty Survey page )
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/fiaques.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
             Financial Aid System (Post Page )
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
