
  <div align="center">
    HANDLES
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="pt-3">
    <div fxFlex.lt-sm="100" fxFlex.gt-sm="50">
  <div class="row py-3">
    <div class="col-4"> <a [href]="MediumLink" title="Medium"><img [src]="Medium" class="icon rounded"></a></div>
    <div class="col-4"> <a [href]="StackLink" title="Stack Overflow"><img [src]="Stack" class="icon rounded"></a></div>
    <div class="col-4"> <a [href]="GoogleLink" title="Google"><span class="ml-3"></span><img [src]="Google" class="icon"></a></div>
  </div>
  <div class="row pt-2">
    <div class="col-4"> <a [href]="LinkedinLink" title="Linkein"><img [src]="Linkedin" class="icon rounded"></a></div>
    <div class="col-4"> <a [href]="FacebookLink" title="Facebook"><img [src]="Facebook" class="icon rounded"></a></div>
    <div class="col-4"> <a [href]="TwitterLink" title="Twitter"> <span class="ml-3"></span><img [src]="Twitter" class="icon rounded"></a></div>
  </div>

  </div>

  </div>


