<div class="jumbotron pt-3" style="background-color: black !important;">
  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-sm="column"
    fxLayoutGap="50px"
    fxLayoutAlign="center center"
  >
    <div class="w-100">
      <div class="row">
        <img [src]="phone" class="icon" /> <span class="mx-2"></span>
        <a href="tel: +233 024 - 828 - 4049" class="W-100" title="dial">
          +233 024 - 828 - 4049</a
        >
      </div>
      <hr />

      <div class="row">
        <img [src]="gmail" class="icon" /> <span class="mx-2"></span>    <a href="mailto:  ewave80@gmail.com" title="send email"> ewave80@gmail.com</a>
      </div>
    </div>
  </div>
</div>
<span class="mx-2"></span>
