<div align="center" class="pt-5 hide">
  <h2 class="text-light" style="font-size: 13pt;">
    Project Repository
  </h2>
</div>

<div class="row no-gutters">
  <div class="col-lg-6 col-md-6 col-sm-12" fxShow.lt-sm="true" fxHide.gt-sm="true">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-0"></div>
      <div class="col-lg-10 col-md-10 col-sm-12 mx-3 ">
        <div fxFlexAlign.gt-sm="center">
          <img mat-card-image [src]="bg" class="style-work-image" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 pt-lg-5 pt-md-5 pt-sm-0 bg-dark">

    <div>
      <div class="row">
        <div class="jumbotron w-100 bg-dark  pt-lg-5 pt-sm-4 pt-sm-0">
          <div class="row">
            <div class="mx-auto">

              <a [href]="gitHubLink">
                <h2 class="blue" title="follow link to github repo"> Github Repository</h2>
              </a>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 hide" fxHide.lt-sm="true">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-0"></div>
      <div class="col-lg-10 col-md-10 col-sm-12 mx-3 ">
        <div fxFlexAlign.fxFlexAlign.gt-sm="center">
          <img mat-card-image [src]="bg" class="style-work-image" />
        </div>
      </div>
    </div>
  </div>

</div>
