<div id="institutions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#institutions" data-slide-to="0" class="active"></li>
    <li data-target="#institutions" data-slide-to="1" class="active"></li>
    <li data-target="#institutions" data-slide-to="2" class="active"></li>
    <li data-target="#institutions" data-slide-to="3" class="active"></li>
    <li data-target="#institutions" data-slide-to="4" class="active"></li>
    <li data-target="#institutions" data-slide-to="5" class="active"></li>
    <li data-target="#institutions" data-slide-to="6" class="active"></li>
    <li data-target="#institutions" data-slide-to="7" class="active"></li>

  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="card">
      <div class="card-body">
        <img src="../../../assets/projects/reportpcare.PNG" class="d-block w-100 h" alt="...">
      </div>
      <div class="card-footer">
          PCare Health Software (Print report by payroll)
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/pharmacist.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
          PCare Health Software (Pharmacist Page)
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/purchaseorder.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
          PCare Health Software (Purchase order Page)
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/pcareuser.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
          PCare Health Software (User Roles)
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body">
          <img src="../../../assets/projects/usepcare.PNG" class="d-block w-100 h" alt="...">
        </div>
        <div class="card-footer">
          PCare Health Software (New Employee)
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#institutions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#institutions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
