<div align="center">
  <h1 class="heading" style="font-size: 13pt;">
    Projects
  </h1>
</div>

<div class="row no-gutters">
  <div
    class="col-lg-6 col-md-6 col-sm-12"
    fxShow.lt-sm="true"
    fxHide.gt-sm="true"
  >
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-0"></div>
      <div class="col-lg-10 col-md-10 col-sm-12 mx-3">
        <div fxFlexAlign.fxFlexAlign.gt-sm="center">
          <img mat-card-image [src]="bg" class="style-work-image" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-7 col-md-7col-sm-12 pt-lg-5 pt-md-5 pt-sm-0">
   <div class="jumbotron bg-light">
    <p class="message-padding pt-lg-5 pt-md-4 pt-sm-1 mx-3">
      Over the past five years as a software developer, I have had the
      opportunity to be part of several projects, from enterprise applications
      to client-based applications. I have worked on a variety of applications
      ranging from web to mobile apps using a variety of evolving programming
      technologies, tools as well as accepted industry-standard approach. Below
      in the section is a list of projects I have worked on over the past years.
      I have added respective links and Github repository links to each project.
      Due to industry standard and security policy, I will not be allowed to add
      or show some links.
    </p>
   </div>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-12 hide" fxHide.lt-sm="true">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-0"></div>
      <div class="col-lg-10 col-md-10 col-sm-12 mx-3">
        <div fxFlexAlign.fxFlexAlign.gt-sm="center">
          <img mat-card-image [src]="bg" class="style-work-image" />
        </div>
      </div>
    </div>
  </div>
</div>

<mat-card-content fxHide.gt-xs>
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Institutional</ng-template>

        <div>
     <app-institutions></app-institutions>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Organizational</ng-template>

        <div>
        <app-organisations></app-organisations>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Clients</ng-template>

        <div>
        <app-client></app-client>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Personal</ng-template>

        <div>
          <mat-card>
            <mat-card-content>
              <div class="row">
                <div class="jumbotron w-100  pt-lg-5 pt-sm-4 pt-sm-0">
                  <div class="row">
                    <div class="mx-auto">

                      <a [href]="gitHubLink">
                        <h2 class="blue" title="follow link to github repo"> Github Repository</h2>
                      </a>

                    </div>
                  </div>

                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</mat-card-content>

<mat-card-content fxHide.xs="true">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Institutional</ng-template>

        <app-institutions></app-institutions>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Organizational</ng-template>

        <div>
          <app-organisations></app-organisations>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Clients</ng-template>

        <div>
        <app-client></app-client>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Personal</ng-template>

        <div class="row">
          <div class="jumbotron w-100  pt-lg-5 pt-sm-4 pt-sm-0">
            <div class="row">
              <div class="mx-auto">

                <a [href]="gitHubLink">
                  <h2 class="blue" title="follow link to github repo"> Github Repository</h2>
                </a>

              </div>
            </div>

          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card-content>
