<div align="center">
  <h1 class="heading" style="font-size: 13pt;">
    Work Expirience
  </h1>
</div>

<div class="row pb-lg-5 ">
  <div class="col-lg-5 col-md-5 col-sm-12">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-0"></div>
      <div class="col-lg-10 col-md-10 col-sm-12 mx-3">
        <div fxFlexAlign.fxFlexAlign.gt-sm="center">
          <img mat-card-image [src]="bg" class="style-work-image" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-md-7 col-sm-12 pt-lg-5 pt-md-5 pt-sm-0">

    <p class="message-padding pt-sm-1 mx-3 card-text">
      As a computer science major, I have had the opportunity to work with
      several software companies. Starting from my internship to my current
      employment state, I had the opportunity to work with Scynett Ghana, a
      software development company in Koforidua Ghana where I worked for six
      months as a back-end developer coding in .NET. Working as a back-end
      developer, I also had the opportunity to write tests as well. In 2017, I
      started a Startup (Jaynett) which is a software development hub for young
      and upcoming developers and also providing software solutions to clients.
      After I graduated from university, I had the opportunity to work as a
      software engineer at the koforidua Technical University for my National
      Service. I built and maintain existing university applications using Php
      Laravel. I joined Mon and Associates Technology as a full-stack developer
      and also double as a project Manager. At Mon and Associate Technology, I
      have worked with Java, PHP Laravel, Angular, and Flutter for over a year
      now.
    </p>

  </div>
</div>
